<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab10.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=DESKTOP-R6BLKUN\LOCAL;Initial Catalog=NORTHWND;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="lab10.Properties.Settings.NORTHWNDConnectionString1"
            connectionString="Data Source=DESKTOP-R6BLKUN\LOCAL;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>