@model List<lab13.Models.Persona>
@{
    ViewBag.Title = "Listar";

    var grid = new WebGrid(source: Model, columnNames: new[]
    { 
        "PersonaID","Nombre","Apellido","FechaNac","Direccion","Email"
    });
}

<h2>Listado de Personas</h2>

<form>
    <p>
        Nombre: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@grid.GetHtml(tableStyle:"table table-stripped",
    columns: grid.Columns(
        grid.Column(columnName: "PersonaID",header:"Id"),
        grid.Column(columnName: "Nombre", header: "Nombre"),
        grid.Column(columnName: "Apellido", header: "Apellido"),
        grid.Column(columnName: "FechaNac", header: "FechaNac"),
        grid.Column(columnName: "Direccion", header: "Direccion"),
        grid.Column(columnName: "Email", header: "Email"),
        grid.Column(header: "Acciones", format:(item) =>
                    Html.ActionLink("Ver","Mostrar","Persona",
                        new { id = item.PersonaID }, null))
    )
)


