@model List<lab15.Models.Person>
@{
    ViewBag.Title = "Graficos";
}

<h2>Graficos</h2>

<h4>Gráficos de Columnas</h4>
<img src="@Url.Action("GraficoColumnas")" />

<h4>Gráficos de Barras</h4>
<img src="@Url.Action("GraficoBarras")" />

<h4>Gráficos de Tarta</h4>
<img src="@Url.Action("GraficoTarta")" />

<h4>Gráficos de Radar</h4>
<img src="@Url.Action("GraficoRadar")" />
