@using ReportViewerForMvc;
@model lab15.Models.Person
@{
    ViewBag.Title = "Reporte de Personas";
}

<h2>Reporte de Personas</h2>
@using (Html.BeginForm("Reporte", "Persona", FormMethod.Post))
            {
                //TextBox para buscar un registro, en este casi por nombre
                <p>Nombre: @Html.TextBox("FirstName")
                <input type="submit" value="Buscar" class="btn btn-primary" /></p>
            }
            @if (ViewBag.ReportViewer != null)
            {
                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
            }
            <style>
                iframe {
                    width: 100%;
                    height: 600px;
                    border-width: 0;
                }
            </style>


